* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
}

.game_container {
    width: 1000px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.438);
    z-index: 100;
    top: 0;
    left: 0;
}

.start_btn {
    font-size: 3.5rem;
    width: fit-content;
    height: fit-content;
}

.hidden {
    display: none;
}

.sky {
    width: 1000px;
    height: 400px;
    background-color: lightblue;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 200px;
}

.bottom {
    width: 1000px;
    height: 100px;
    background-color: darkolivegreen;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 3 00px;
}

.dragon {
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    border-top: 5px dashed red;
    position: absolute;
    left: 120px;
    z-index: 5;
}

.dragon_neck {
    position: absolute;
    background-color: greenyellow;
    height: 90px;
    width: 20px;
    bottom: 0;
    left: 100px;
    z-index: 5;
}

.dragon_head {
    position: absolute;
    background-color: greenyellow;
    height: 20px;
    width: 45px;
    bottom: 60px;
    left: 100px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 5;
}

.dragon_eye {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: black;
    left: 20px;
    top: 5px;
}

.dragon_tail {
    position: absolute;
    background-color: greenyellow;
    border-top: 5px dashed red;
    width: 50px;
    height: 10px;
    left: -50px;
    bottom: 0;
    z-index: 5;
}

.obstacle {
    position: absolute;
    bottom: 60px;
}