.game_container {
    width: 800px;
    height: 800px;
    position: relative;
    margin: 0 auto;
}

.sky {
    width: 800px;
    height: 600px;
    background-color: lightblue;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 200px;
}

.bottom {
    width: 800px;
    height: 200px;
    background-color: rgb(146, 116, 77);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 600px;
}

.horse {
    width: 100px;
    height: 50px;
    background-color: grey;
    position: absolute;
    left: 50px;
    bottom: 200px;
}